.dropdown {}

/* Show the dropdown menu*/
.hidden { display: none; }
.show {display:block;}

h2, h3 { cursor: pointer; color: #b58900; } /* pale yellow accent */





/* //////bhsdfgyefgad */